body {
    margin: 10px;
    font: 84% Arial, sans-serif
}

h1 {
    font-size: 156%
}

h2 {
    border-top: 1px solid #9cc2ef;
    background-color: #ebeff9;
    padding: 3px 5px;
    font-size: 100%
}

.note {
    font-size: 75%;
    padding: 3px 0px;
}
